@import "@/assets/styles/variables.scss";

.under {
  margin-top: clamp(5px, 2.5vw, 40px);
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;

    @media (max-width: 830px) {
      flex-direction: column-reverse;
      row-gap: 20px;
    }
  }

  &__logo {
    width: clamp(188px, 20vw, 257px);
    height: clamp(133px, 14vw, 181px);

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__contacts {
  }

  &__left_list {
    @extend %roboto_500_23_25;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__right_list {
    @extend %roboto_500_19_20;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    & > li {
      cursor: pointer;
      transition: color 0.1s ease-in-out;

      &:hover {
        color: $primary;
      }
    }

    @media (max-width: 830px) {
      display: none;
    }
  }

  &__text {
    @extend %roboto_500_19_20;
    font-weight: 400;
    margin-top: clamp(10px, 2.5vw, 20px);
    color: $grayLight;

    @media (max-width: 830px) {
      text-align: center;
    }
  }
}
