@import "@/assets/styles/variables.scss";

.header {
  width: 100%;
  padding-block: 10px;
  background-color: $background;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;

  &__skeleton {
    width: 178px;
    height: 37px !important;
    border-radius: 5px;

    @media (max-width: 1000px) {
      display: none !important;
    }
  }

  &__search {
    flex: 0 1 1000px;
    padding-inline: 40px;
    @media (max-width: 870px) {
      display: none;
    }
  }

  &__search_input {
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .header__logo {
      height: 45px;
      @extend %inter_600_21_27;
      color: $primary;
      color: rgb(220, 42, 28);
      transition: color 0.1s ease-in-out;
      font-size: 24px;
      position: relative;

      & > span {
        font-size: 37px;
        padding-right: 3px;
        position: relative;
        text-shadow: 3px 3px 0px black;
      }

      & > span:last-child {
        top: 13px;
        left: 0px;
      }

      &:hover {
        color: rgb(247, 66, 66);
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: clamp(13px, 2.5vw, 20px);
    margin-right: 10px;
    @media (max-width: 1000px) {
      flex: 1 1 auto;
      justify-content: flex-end;
    }

    & svg {
      color: $accent;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-weight: 500;
    font-size: clamp(21px, 2.5vw, 20px);

    & svg {
      cursor: pointer;
    }
  }

  &__list_categories {
    display: flex;
    align-items: center;
    column-gap: 30px;
    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__category {
    @extend %inter_400_20_22;
  }

  &__signup {
    font-size: 18px;
    padding: 6px 10px;
    font-weight: 500;
    border-radius: 5px;

    @extend %buttonStyles;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__admin {
    font-size: 18px;
    padding: 10px 10px;
    font-weight: 500;
    border-radius: 5px;

    @extend %buttonStyles;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__signup-menu,
  &__signin-menu {
    padding: 7px 10px;
  }

  &__menu-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__signin {
    font-weight: 500;
    color: $accent;

    &:hover {
      color: $hover;
    }
    @media (max-width: 1000px) {
      display: none;
    }
  }
}

// Header burger
.menu-open {
  background-color: $background;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: -110%;
  top: 0;
  padding: 50px 20px 30px 20px;
  overflow: auto;
  transition: left 0.3s ease-in-out;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
}

.menu-open.active {
  left: 0;
}

.icon-menu {
  display: none;

  @media (max-width: 1000px) {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }
}

.list__item {
  @extend %inter_400_21_25;
  border-bottom: 1px solid $primaryOpacity07;
  padding-block: 10px;
  padding-left: 5px;
  cursor: pointer;
  &:hover {
    background-color: $primaryOpacity02;
  }
}

.open-menu body {
  overflow: hidden;
}

.open-left {
  padding-right: 5px;
}

.open-left body {
  overflow: hidden;
}

.dark {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgb(204, 204, 204, 0);
  z-index: -1;
  transition: all 0.3s ease-in-out;

  &.active {
    background-color: rgb(204, 204, 204, 0.7);
    z-index: 10;
  }
}

.link {
  height: 28px;
}
