@import "@/assets/styles/variables.scss";

.product {
  &__container {
    margin-top: clamp(15px, 4vw, 70px);
    display: flex;
    justify-content: center;
    gap: clamp(20px, 3vw, 40px);
    max-width: 1280px;

    @media (max-width: 1307px) {
      flex-direction: column;
    }
  }

  &__name {
    @extend %inter_500_23_25;
    line-height: 1.2;
  }

  &__img {
    height: fit-content;
    @media (max-width: 1307px) {
      width: 100%;
    }
    @media (min-width: 1307px) {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 64px;
    }
  }

  &__swiper {
    border-radius: 10px;
    width: clamp(345px, 55vw, 670px);
    height: clamp(345px, 55vw, 670px);

    @media (max-width: 1307px) {
      width: 100%;
    }

    & .product__swiper_slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__image_box {
    background-color: $secondary;
    width: 100%;
    height: 100%;
    @media (max-width: 1307px) {
      width: clamp(345px, 55vw, 670px);
      height: clamp(345px, 55vw, 670px);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    min-width: 480px;
    margin-top: 30px;

    @media (max-width: 1307px) {
      min-width: auto;
      margin-top: 0px;
    }
  }

  &__accordion {
    &_contacts {
      margin-top: 10px;
      display: flex;
      align-items: center;
      column-gap: 30px;
      @extend %inter_500_19_20;
    }
  }

  &__accordion_no_before {
    &::after {
      opacity: 0 !important;
    }
  }

  &__subtitle {
    margin-block: 5px;
    color: $grayLight3;
  }

  &__price {
    @extend %inter_600_21_25;
  }

  &__about {
    font-size: 17px;
  }

  &__characteristics {
    margin-top: 25px;
    @extend %inter_500_22_23;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    font-size: 16px;

    &_characteristic {
      width: 49%;
      flex-wrap: wrap;
      color: $grayLight3;
    }

    &_data {
      width: 49%;
    }

    &_item {
      display: flex;
      column-gap: 10px;
    }
  }

  &__button {
    margin-top: clamp(15px, 3vw, 20px);
    width: 100%;
    padding: clamp(10px, 1.8vw, 13px) 10px !important;

    &_disable {
      @extend %disableButton;
    }
  }

  &__result {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    & > p {
      @extend %inter_600_21_25;
      text-wrap: nowrap;
    }
  }

  &__price_status {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  &__status_ok {
    color: rgb(0, 194, 0);
  }

  &__status_middle {
    color: rgb(255, 145, 0);
  }
  &__status_bad {
    color: rgb(255, 0, 0);
  }
}

.sms__container {
  color: black;
}

.skeleton {
  &__title {
    height: clamp(23px, 2.5vw, 25px) !important;
  }
  &__category {
    height: 18px !important;
    margin-block: 5px;
    width: 30%;

    @media (max-width: 1307px) {
      width: 20%;
    }
  }

  &__price {
    height: clamp(21px, 2.5vw, 25px) !important;
    width: 50%;
    margin-bottom: 10px;

    @media (max-width: 1307px) {
      width: 40%;
    }
  }

  &__open {
    height: 45px !important;
    margin-bottom: 3px;
  }

  &__count {
    margin-top: 25px;
    height: clamp(32px, 2.5vw, 34px) !important;
  }

  &__button {
    margin-top: clamp(15px, 3vw, 20px);
    height: clamp(48px, 2.5vw, 55px) !important;
  }
}
