@import "@/assets/styles/variables.scss";

.counter {
  display: flex;
  align-items: center;
  column-gap: clamp(9px, 1.5vw, 12px);

  &__plus,
  &__minus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(3px, 0.6vw, 4px);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid $primary;
    background-color: $colorPurpleOpacity02;
    color: $primary;

    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: $colorPurpleOpacity03;
      color: $primary;
    }
  }

  &__field {
    width: 31px;
    background-color: inherit;
    text-align: center;
    outline: none;
    /* Скрыть стрелки (спиннеры) в Chrome, Safari, Edge */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;

    /* Для Chrome и Safari */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
