@import "@/assets/styles/variables.scss";
.basket {
  &__skeleton {
    &_item {
      height: 100px !important;
      border-radius: 10px;
    }
  }
  &__container {
    margin-top: clamp(15px, 4vw, 70px);
    max-width: 1000px;
  }
  &__title {
    @extend %inter_500_23_25;
    text-wrap: nowrap;

    cursor: pointer;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      border-radius: 3px;
      width: 0;
      height: 5px;
      background-color: $primary;
      right: 0;
      bottom: -10px;
      transition: 0.3s;
    }

    &:hover {
      &::before {
        left: 0;
        width: 100%;
        transition: 0.3s;
      }
    }

    &_active {
      &::before {
        left: 0;
        width: 100%;
        transition: 0.3s;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__list_steps {
    display: flex;
    column-gap: 40px;
    margin-bottom: clamp(25px, 4vw, 30px);

    @media (max-width: 844px) {
      column-gap: 20px;
    }
  }

  &__item {
    height: 100px;
    display: flex;
    // background-color: $grayLight2;
    background-color: rgb(255, 243, 226);
    border-radius: 10px;
    position: relative;
    transition: all 0.15s ease-in-out;

    &__content {
      display: flex;
      align-items: center;
      width: 100%;
      column-gap: 20px;
      padding-block: 10px;
      padding-right: 10px;

      @media (max-width: 672px) {
        flex-direction: column;
        row-gap: 10px;
        margin-left: 15px;
      }
    }

    &__pending {
      color: $grayLight3;
    }

    &__title {
      @extend %inter_500_17_20;
      margin-left: 20px;
      margin-right: clamp(20px, 4.5vw, 50px);
      width: clamp(200px, 43vw, 450px);
      padding-bottom: 1px;
      //   overflow: hidden;
      //   white-space: nowrap;
      //   text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;

      @media (max-width: 844px) {
        width: clamp(200px, 38vw, 340px);
        margin-right: 20px;
      }
      @media (max-width: 750px) {
        width: clamp(140px, 30vw, 250px);
        margin-right: 20px;
      }
      @media (max-width: 672px) {
        width: 170px;
        margin-right: 0px;
        -webkit-line-clamp: 2;
        padding-right: 40px;
        width: 100%;
        row-gap: 10px;
        margin-left: 0px;
      }
    }

    &__price {
      @extend %inter_600_18_23;
      @media (max-width: 672px) {
        max-width: 80px;
        text-align: center;
      }
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      transition: color 0.15s ease-in-out;
      &:hover {
        color: $red;
      }
    }

    &__counter_price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 1 auto;

      @media (max-width: 672px) {
        column-gap: 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  &__img {
    background-color: $secondary;
    min-width: 100px;
    width: 100px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &__result {
    margin-top: clamp(15px, 2.5vw, 40px);
    padding-top: clamp(10px, 2.5vw, 20px);

    border-top: 1px solid $accent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p {
      @extend %inter_400_20_25;
    }

    &_sum {
      @extend %inter_600_23_30;
    }
  }

  &__button {
    border-radius: 6px;
    padding: 7px 10px;
    transition: all 0.1s ease-in-out;
    font-weight: 600;
    font-size: 20px;

    padding: clamp(10px, 1.8vw, 13px) 10px !important;

    &_div {
      margin-top: clamp(20px, 2.5vw, 40px);
      display: flex;
      justify-content: flex-end;
    }
  }
}
