@import "@/assets/styles/variables.scss";

.home {
  margin-top: clamp(5px, 2.5vw, 40px);

  &__container {
    color: black;
  }

  &__filters {
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
    align-items: flex-end;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: normal;
      row-gap: 15px;
    }
  }

  &__filter_button {
    height: 38px;
    @extend %buttonStyles;
    background-color: $background;
    color: $accent;
    border: 2px solid $accent;

    &:hover {
      color: $background;
      background-color: $hover;
      border-color: $hover;
    }

    padding: 6px 10px;
    font-weight: 500;
    border-radius: 5px;
    display: none;

    @media (max-width: 1000px) {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 15px;
    }

    @media (max-width: 600px) {
      flex: 1 1 auto;
    }
  }

  &__search {
    flex: 1 1 auto !important;
    & > input {
      padding-block: 6px;
    }
    @media (min-width: 870px) {
      display: none !important;
    }
  }

  &__selects {
    display: flex;
    gap: clamp(15px, 2.5vw, 20px);
    align-items: flex-end;
    @media (max-width: 737px) {
      width: auto;
    }

    & label {
      display: none;
    }

    & div {
      margin-top: 0px !important;
    }
  }

  &__select {
    width: 50%;
  }

  &__search {
  }

  &__card_list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: clamp(10px, 2vw, 20px);
    row-gap: clamp(25px, 2vw, 40px);

    @media (max-width: 1200.98px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 850.98px) {
      grid-template-columns: repeat(2, 1fr);
    }

    & > .card {
      width: auto;
      min-height: 395px;
    }
  }
}
