@import "@/assets/styles/variables.scss";

.home {
  margin-top: clamp(15px, 2.5vw, 30px);

  &__container {
    color: black;
  }

  &__categories {
    margin-top: clamp(25px, 3.5vw, 60px);
    & > h1 {
      @extend %roboto_500_23_25;
      text-align: center;
    }

    &_list {
      margin: 0 auto;
      margin-top: clamp(15px, 2.5vw, 30px);
      display: flex;
      flex-wrap: wrap;

      gap: 20px;
      max-width: 940px;

      @media (max-width: 830.98px) {
        gap: 10px;
      }
    }
  }
}

.categories {
  &__item {
    width: calc(100% / 3 - 40px / 3);
    padding: clamp(5px, 2.5vw, 10px);
    background-color: $primaryOpacity01;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    column-gap: clamp(10px, 2.5vw, 20px);
    @extend %roboto_400_17_20;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: $primaryOpacity02;
    }

    @media (max-width: 830.98px) {
      width: calc(100% / 2 - 5px);
      height: clamp(60px, 10vw, 80px);

      & > svg {
        height: 100%;
      }
    }

    & > svg {
      flex: 0 0 clamp(40px, 10vw, 110px);
    }
  }
}
