@import "@/assets/styles/variables.scss";

.search {
  &__search {
    display: flex;

    & > button {
      font-size: 16px;
      padding: clamp(4px, 0.5vw, 6px) 15px;
      border: 2px solid $accent;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 0px;
      transition: background-color 0.1s ease-in-out;

      @extend %buttonStyles;
    }
  }

  &__input {
    width: 100%;
    outline: none;
    background-color: inherit;
    border: 2px solid $accent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px 15px;
    transition: background-color 0.1s ease-in-out;

    &:hover,
    &:focus {
      background-color: $primaryOpacity005;
    }
  }
}
