@import "@/assets/styles/variables.scss";

.header {
  width: 100%;
  padding-block: 10px;
  background-color: rgb(245, 244, 244);
  position: sticky;
  top: 0;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .header__logo {
      @extend %roboto_600_21_25;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: clamp(13px, 2.5vw, 20px);
    margin-right: 10px;
    @media (max-width: 870px) {
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: clamp(21px, 2.5vw, 20px);

    & svg {
      cursor: pointer;
    }
  }

  &__list_categories {
    display: flex;
    align-items: center;
    column-gap: 30px;
    @media (max-width: 870px) {
      display: none;
    }
  }

  &__category {
    @extend %roboto_400_20_22;
  }

  &__signup {
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px 10px;
    transition: all 0.1s ease-in-out;
    font-weight: 500;

    &:hover {
      background-color: black;
      color: white;
    }

    @media (max-width: 870px) {
      display: none;
    }
  }

  &__signup-menu,
  &__signin-menu {
    border: 2px solid black;
    border-radius: 6px;
    padding: 7px 10px;
    transition: all 0.1s ease-in-out;
    font-weight: 500;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &__menu-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__signin {
    font-weight: 500;

    @media (max-width: 870px) {
      border: 2px solid black;
      border-radius: 6px;
      padding: 4px 10px;
      transition: all 0.1s ease-in-out;
      font-weight: 500;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

// Header burger
.menu-open {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: -110%;
  top: 0;
  padding: 50px 20px 30px 20px;
  overflow: auto;
  transition: left 0.3s ease-in-out;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
}

.menu-open.active {
  left: 0;
}

.icon-menu {
  display: none;

  @media (max-width: 870px) {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }
}

.list__item {
  @extend %roboto_400_21_25;
  border-bottom: 1px solid rgba(151, 151, 151, 0.71);
  padding-block: 10px;
  padding-left: 5px;
  cursor: pointer;
  &:hover {
    background-color: rgb(212, 212, 212);
  }
}

.open-menu body {
  overflow: hidden;
}

.open-left body {
  overflow: hidden;
}

.dark {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(204, 204, 204, 0);
  z-index: -1;
  transition: all 0.3s ease-in-out;

  &.active {
    background-color: rgb(204, 204, 204, 0.7);
    z-index: 10;
  }
}
