@import "./reset.scss";
@import "./variables.scss";

html {
  scroll-behavior: smooth;
  // scrollbar-gutter: stable;
}

body {
  @extend %roboto_400_18;
  background-color: $background;

  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: block;
    width: 5px;
    overflow: auto;
    height: 5px;
    background-color: rgb(210, 143, 50);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(234, 171, 83);
    border-radius: 30px;
  }
}

.wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1728px;
  margin: 0px auto;
  padding: 0px 15px;
  overflow-wrap: break-word;
}

.MuiBadge-badge {
  top: 4px !important;
  right: 3px !important;
}

// fix bog with twitching inputs, selects
.MuiInput-root {
  margin-top: 16px !important;
}

// swiper

.swiper {
  & > .swiper-button-prev::after,
  & > .swiper-button-next::after {
    @media (max-width: 870px) {
      transform: scale(0.7);
    }
  }
}

.MuiInputBase-root {
  &::before,
  &::after {
    border-color: $accent !important;

    &:hover {
      border-color: $accent !important;
    }
  }
}

.MuiFormLabel-root {
  color: $accent !important;
}
.Mui-selected {
  background-color: $primaryOpacity02 !important;
}
.MuiMenuItem-root {
  &:hover {
    background-color: $primaryOpacity03 !important;
  }
}
