$colorPurpleOpacity09: rgba(210, 143, 50, 0.9);
$colorPurpleOpacity07: rgba(210, 143, 50, 0.7);
$colorPurpleOpacity03: rgba(210, 143, 50, 0.3);
$colorPurpleOpacity02: rgba(210, 143, 50, 0.2);
$colorPurpleOpacity01: rgba(210, 143, 50, 0.1);
$grayLight: rgb(134, 134, 134);
$grayLight2: rgb(243, 241, 241);
$red: rgb(247, 0, 0);

$background: rgb(252, 249, 243);
$secondary: rgb(255, 237, 212);
$primary: rgb(210, 143, 50);

// $background: rgb(252, 249, 243);
// $primary: rgb(210, 143, 50);
// $secondary: rgb(233, 188, 124);
// $accent: rgb(234, 171, 83);

%roboto_400_18 {
  font-weight: 400;
  font-size: 18px;
}

%roboto_600_21_25 {
  font-weight: 600;
  font-size: clamp(21px, 2.5vw, 25px);
}

%roboto_600_21_27 {
  font-weight: 900;
  font-size: clamp(27px, 2.5vw, 35px);
}

%roboto_400_20_22 {
  font-size: clamp(20px, 2.5vw, 22px);
}

%roboto_400_20_25 {
  font-size: clamp(20px, 2.5vw, 25px);
}

%roboto_400_21_25 {
  font-weight: 400;
  font-size: clamp(25px, 2.5vw, 30px);
}

%roboto_500_19_20 {
  font-weight: 500;
  font-size: clamp(19px, 2.5vw, 20px);
}

%roboto_500_22_23 {
  font-weight: 500;
  font-size: clamp(22px, 2.5vw, 23px);
}

%roboto_600_20_21 {
  font-weight: 600;
  font-size: clamp(20px, 2.5vw, 21px);
}

%roboto_500_17_20 {
  font-weight: 500;
  font-size: clamp(17px, 2.5vw, 20px);
}

%roboto_500_19_23 {
  font-weight: 500;
  font-size: clamp(22px, 2.5vw, 23px);
}

%roboto_600_22_23 {
  font-weight: 600;
  font-size: clamp(22px, 2.5vw, 23px);
}

%roboto_600_18_23 {
  font-weight: 600;
  font-size: clamp(18px, 2.5vw, 23px);
}

%roboto_500_23_25 {
  font-weight: 500;
  font-size: clamp(23px, 2.5vw, 25px);
}
%roboto_600_23_25 {
  font-weight: 600;
  font-size: clamp(23px, 2.5vw, 25px);
}
%roboto_600_23_30 {
  font-weight: 600;
  font-size: clamp(23px, 2.5vw, 30px);
}
